{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h1>Bienvenue sur le site de Symfony-Wild</h1>
    <p>Ce site est un projet de Sass en cours.</p>
    <p>Il a été réalisé par <strong>{{ author }}</strong>.</p>
    <p>Vous pouvez consulter le code source sur <a href="{{ repository_url }}">GitHub</a>.</p>
    <p>Pour toute question, n'hésitez pas à me contacter.</p>
{% endblock %}
